/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

#### Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%)

## Typography

### Body Copy

- Font size: 12px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700
*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

:root {
  /*text*/
  --text-1: hsl(238, 29%, 16%);
  --text-2: hsl(14, 88%, 65%);
  /*text2*/
  --text-3: hsl(237, 12%, 33%);
  --text-4: hsl(240, 6%, 50%);
  /*background*/
  --grad-1:linear-gradient(180deg, rgba(175,103,233,1) 0%, rgba(101,101,231,1) 100%);
  --bg-1: #fff;
  /*Dividers*/
  --divider-1: hsl(240, 5%, 91%);
  /*Active*/
  --active-1:#F47B56;
}

body {
  font-size: 12px;
  overflow: hidden;
}

/*active class*/
.high__light {
  height: 5.3rem !important;
}

.high__light h3 {
  color: var(--text-1) !important;
  font-weight: 700 !important;
}

.high__light svg {
  rotate: 180deg;
}

main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--grad-1);
}

main .faq__card {
  width: 80%;
  max-width: 1000px;
  min-width: 1000px;
  height: 600px;
  background-color: var(--bg-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 25px;
}

main .faq__card #svg__box {
  position: absolute;
  left: -94px;
  z-index: 2;
  top: 270px;
}

main .faq__card .faq__img {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

main .faq__card .faq__img #svg__woman__mobile {
  position: absolute;
  visibility: hidden;
}

main .faq__card .faq__img #svg__bg__mobile {
  position: absolute;
  visibility: hidden;
}

main .faq__card .faq__img #svg__bg__desk {
  position: absolute;
  left: -580px;
  top: -200px;
  z-index: 0;
}

main .faq__card .faq__img #svg__woman__desk {
  position: absolute;
  left: -85px;
  bottom: 100px;
  z-index: 1;
}

main .faq__card .faq__info {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  position: relative;
}

main .faq__card .faq__info h1 {
  text-transform: uppercase;
  margin: 2rem 2rem 0 2rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-1);
  position: absolute;
  top: 1rem;
}

main .faq__card .faq__info .divider {
  width: 350px;
  height: 2px;
  background-color: var(--divider-1);
  margin: 1rem 2rem;
}

main .faq__card .faq__info .ask__container {
  -webkit-transition: .4s;
  transition: .4s;
  margin-left: 2rem;
  height: 2rem;
  width: 350px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  cursor: pointer;
}

main .faq__card .faq__info .ask__container h3 {
  font-weight: 400;
  margin-top: 6px;
  color: var(--text-3);
  -webkit-transition: .4s;
  transition: .4s;
}

main .faq__card .faq__info .ask__container svg {
  position: absolute;
  right: 0;
  top: 11px;
  -webkit-transition: .4s;
  transition: .4s;
}

main .faq__card .faq__info .ask__container p {
  font-weight: 400;
  margin: 1rem 0;
  color: var(--text-4);
}

main .faq__card .faq__info .ask__container:hover h3 {
  color: var(--active-1);
}

@media screen and (max-width: 1100px) {
  main .faq__card {
    width: 90%;
    margin-top: 100px;
    max-width: 350px;
    min-width: 350px;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .faq__card #svg__box {
    display: none;
  }
  main .faq__card .faq__img {
    width: 100%;
    height: 100px;
    position: relative;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .faq__card .faq__img #svg__bg__desk {
    display: none;
  }
  main .faq__card .faq__img #svg__bg__mobile {
    position: absolute;
    visibility: visible;
    top: 0px;
  }
  main .faq__card .faq__img #svg__woman__mobile {
    visibility: visible;
    width: 250px;
    top: -115px;
  }
  main .faq__card .faq__img #svg__woman__desk {
    display: none;
  }
  main .faq__card .faq__info {
    width: 100%;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .faq__card .faq__info h1 {
    margin: 1rem 0;
    position: absolute;
    top: 0;
  }
  main .faq__card .faq__info .divider {
    width: 300px;
    height: 2px;
    background-color: var(--divider-1);
    margin: 1rem;
  }
  main .faq__card .faq__info .ask__container {
    margin: 0 1rem;
    height: 2rem;
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */
